.productdisplay {
    display: flex;
    margin: 0px 170px;
}
.productdisplay-left {
    display: flex;
    gap: 20px;
}
.productdisplay-img-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.productdisplay-img-list img {
    height: 160px;
}

.productdisplay-main-img {
    width: 600px;
    height: 700px;
}

.productdisplay-right {
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}

.productdisplay-right h1 {
    font-size: 40px;
    font-weight: 700;
}

.productdisplay-right-stars {
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    font-size: 18px;
}   

.productdisplay-right-prices {
    display: flex;
    margin: 20px 0px;
    gap: 16px;
    font-size: 24px;
    font-weight: 700;
}

.productdisplay-right-price-old {
    text-decoration: line-through;
}

.productdisplay-right-size h1 {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 600;
}

.productdisplay-right-sizes {
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}

.productdisplay-right-sizes div {
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid;
    border-radius: 3px;
    cursor: pointer;

}

.productdisplay-right button {
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    border: none;
    border-radius: 6px;
    margin-bottom: 40px;
    outline: none;
    cursor: pointer;
}

.productdisplay-right-category{
    margin-top: 10px;
}

.productdisplay-right-category span{
    font-weight: 600;
}